<header>

  <div class="logo">
    <img src="{{ ../assets/img/logo.svg | relative_url }}" alt="logo">
  </div>

  <nav>
    <a href="../#features">Features</a>
    <a href="../blog">Blog</a>
    <a href="#footer">Newsletter</a>
    <a class="download" href="../#download">Download</a>
  </nav>
</header>
